body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#sec2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.error-message {
    color: red;
    display: none;
}
.emoji {
    font-size: 36px; 
}